body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: whitesmoke;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: beige;
    padding: 10px;
    border-radius: 8px;
}

h1,
h2 {
    color: black;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}


.form {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    background: beige;
    padding: 10px;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    .form {
        padding: 10px;
    }
}

footer{

    text-align: center;
            padding: 20px;
            background-color: #f8f8f8;
            margin-top: 20px;
}